html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #333333;
}

a:hover {
  text-decoration: none;
}

header {
  position: relative;
  background-image: url(../img/bg-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}

.header-phone {
  background-image: url(../img/header-phone.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  min-height: 75vh;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0;
}

.header-line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-top: 2rem;
}

.header-logo {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.header-logo img {
  margin-right: 1.5rem;
}

.red-button {
  color: #fff;
  background-color: #fe4542;
  padding: 1rem 2.5rem;
  border-radius: 5rem;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .35);
  display: inline-block;
  font-size: 1.6rem;
}

.red-button:hover {
  color: #fff;
}

.red-button i {
  font-size: 2rem;
  margin-right: .5rem;
}

.mobile-button {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 25%;
}

.mobile-button .red-button {
  margin: 0 1rem;
  padding: 1.5rem 5rem;
}

.mouse {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 5%;
}

.section-header {
  position: relative;
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  margin: 15rem 0;
}

.section-header:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: -3rem;
  width: 7rem;
  height: 5px;
  background-color: #fe4542;
  transform: translateX(-50%);
}

.why-box {
  text-align: center;
}

.why-box img {
  height: 50%;
}

.why-box h4 {
  font-size: 2.4rem;
}

.why-box p {
  font-size: 1.6rem;
}

.greate-interface {
  position: relative;
}

.greate-interface .section-header {
  margin-bottom: 20rem;
}

.owl-interface .item {
  width: 22rem;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .15)
}

.owl-interface .item img {
  width: 100%;
}

.iphone {
  position: absolute;
  top: 18.5rem;
  left: 50%;
  width: 28rem;
  transform: translateX(-50%);
  z-index: 1;
}

.iphone img {
  width: 100%;
}

.front-page {
  position: absolute;
  bottom: -16%;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: #666;
}

.owl-interface .owl-nav {
  font-size: 3.6rem;
  color: #666;
}

.owl-interface .owl-nav .owl-next {
  position: absolute;
  right: 45%;
  bottom: -30%;
  z-index: 1000;
}

.owl-interface .owl-nav .owl-prev {
  position: absolute;
  left: 45%;
  bottom: -30%;
  z-index: 1000;
}

.numbers {
  margin-top: 20rem;
  padding: 8rem 0;
  color: #fff;
  background-image: url(../img/bg-numbers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.number {
  position: relative;
  font-size: 5rem;
  display: block;
}

.number:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5rem;
  height: 5px;
  background-color: #fe4542;
}

.number-description {
  display: block;
  font-size: 1.8rem;
  margin-top: 2rem;
}

.what-said {
  background-color: #f9f9f9;
}

.what-said .section-header {
  margin-top: 0;
  padding-top: 14rem;
}

.owl-review .item {
  text-align: center;
}

.person-lego {
  width: 12rem;
  margin: 0 auto;
}

.review-stars {
  font-size: 2.4rem;
  color: #fff799;
  margin: 4rem 0;
}

.review-text {
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 5rem;
}

.review-name {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

.owl-review .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.5rem;
  color: #666;
}

.owl-review .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4.5rem;
  color: #666;
}

.what-next {
  padding-bottom: 15rem;
}

.card {
  text-align: center;
  margin-bottom: 5rem;
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, .1);
}

.card-img {
  width: 14rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.card-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.card-description {
  font-size: 1.6rem;
  color: #666;
  padding: 0 5rem 6rem 5rem;
}

.video {
  background-image: url(../img/bg-video.jpg);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 25rem 0;
  text-align: center;
}

.video p {
  font-size: 3.4rem;
  color: #fff;
  margin-bottom: 0;
}

.youtube-icon {
  display: inline-block;
  border-radius: 2.5rem;
  padding: 0 1rem;
  font-size: 6rem;
  background-color: #fff;
}

.youtube-icon i {
  display: block;
  font-size: 7.2rem;
  color: #fe4542;
}

.social {
  text-align: center;
}

.social-box {
  text-align: left;
}

.social-box img {
  width: 100%;
}

.social-description {
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 2rem;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.social-likes {
  display: block;
  margin-top: 1rem;
}

.social-likes i {
  margin-right: .5rem;
}

.show-more {
  background-image: url(../img/show-more.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  margin: 8rem 0;
}

.show-more a {
  display: inline-block;
  padding: 2.5rem 5rem;
  color: #666;
  font-size: 1.6rem;
}

.show-more a:hover {
  color: #666;
}

@media (max-width: 1200px) {
  .owl-interface .owl-nav .owl-next {
    right: 40%;
  }

  .owl-interface .owl-nav .owl-prev {
    left: 40%;
  }
}

@media (max-width: 992px) {
  .numbers {
    text-align: center;
  }

  .number:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .owl-interface .owl-nav .owl-next {
    right: 35%;
  }

  .owl-interface .owl-nav .owl-prev {
    left: 35%;
  }

  .social-box {
    margin-bottom: 2.5rem;
  }

  .social-description {
    bottom: 4rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .owl-interface .owl-nav .owl-next {
    right: 30%;
  }

  .owl-interface .owl-nav .owl-prev {
    left: 30%;
  }
}